.card {
    color: rgba(255, 255, 255, 0.74);
    border-color:  #d6f2f661 !important;
    background-color: transparent;
    img {
        width: 200px;
        aspect-ratio: 4/3;
        object-fit: cover;
    }

    h3 {
        font-size: .5em;
    }

    p {
        font-size: .4em;
    }
}