.contentSection {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 1rem;
    color: rgb(0, 0, 0);
}

.articleCard { 
    transition: all 0.3s ease; 
    border: 1px solid transparent; 
}
.articleCard:hover { 
    transform: scale(1.05); 
    border-color: #67e8f9; 
}
.articleCard {
  background-color: transparent;
  border: none;
  overflow: hidden; 
  z-index: 20;
}