.AboutUs {
   background-color: #0C1427; 
   h2 {
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2;
   }

   p {
      margin-top: 1.2rem;
      a {
         color: rgb(49, 49, 241);
         text-decoration: underline;
      }
   }
}