.contentSection {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 1rem;
}

.articleCard {
    transition: all 0.3s ease;
    border: 1px solid transparent;
    max-width: 800px; 
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    overflow: hidden; 
}

.articleCard:hover {
    transform: scale(1.05); 
    border-color: #67e8f9;
    background-color: rgba(255, 255, 255, 0.1); 
}

.articleImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.planetCard {
    transition: all 0.3s ease;
    border: 1px solid transparent; 
}

.planetCard:hover {
    transform: scale(1.05); 
    border-color: #67e8f9; 
    background-color: rgba(255, 255, 255, 0.2); 
}

.active {
    border-color: #67e8f9;
    background-color: rgba(103, 232, 249, 0.2);
}

.descriptionContainer {
    flex-grow: 1;
    overflow-y: auto; 
    min-height: 100px;
}

.descriptionText {
    font-size: 1.1rem; 
    line-height: 1.6;  
}